# python virtual enviroment
/.venv

# python package cache
__pycache__

# slide and report
Đồ_án_tốt_nghiệp___HK241.pdf
Slide_DACN.pdf

# test
test.py
testing_ner.py
testing_ner.json
testing_similarity.json

# model
*.safetensors
*.pt